<!-- <p>navbar works!</p> -->
<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand gif-bg fs-3" routerLink="">
      <img src="/assets/images/phantomjs-svgrepo-com.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
      <span class="logo-color">CODEGHOST</span></a>
    <button class="navbar-toggler hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="bi bi-list text-white"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav column-gap-4">
        <a class="nav-link fs-4 text-center" routerLink="home" routerLinkActive="active-link">Home</a>
        <a class="nav-link fs-4 text-center" routerLink="aboutMe" routerLinkActive="active-link">About</a>
        <a class="nav-link fs-4 text-center" routerLink="contactMe" routerLinkActive="active-link">Contact Me</a>
      </div>
    </div>
  </div>
</nav>