<div class="container-fluid py-5">
    <div class="row row-gap-3 mh-100 justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 align-self-center">
                <div class="content d-flex justify-content-center">
                    <div class="profile_cont">
                        <div class="profile_bg"></div>
                        <img class="profile_img" src="assets/images/profileImage.png" alt="">
                    </div>
                </div>
                <!-- <div class="content d-flex justify-content-center"><img src="assets/images/phantomjs-svgrepo-com.svg" alt=""></div> -->
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 align-self-center">
             <span class="fs-1">Hello <span class="wave">👋</span>, I am </span><span class="fs-1 name">Bhavya Sachdev.&#9889;</span><br>
             <span class="fs-2">Front-End Developer</span><br>
             <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id quidem pariatur quae impedit, quod nam aliquam in velit adipisci ipsa vitae exercitationem itaque perspiciatis voluptas voluptatibus accusantium distinctio nesciunt asperiores unde eaque minima! Nihil culpa rem molestias, cupiditate, adipisci veritatis impedit ut quisquam ex iure perferendis molestiae? Saepe, aspernatur.</span>
        </div>
    </div>
</div>