<!-- <div>footer works!</div> -->
    <footer class="footer-main bg-dark text-white py-3">
        <div class="container">
          <div class="row address-main">
            <div class="col-lg-5 col-sm-12 col-xs-12">
              <div class="address-box clearfix">
                <div class="add-icon d-flex justify-content-center align-items-center">
                    <i class="bi bi-house-door-fill"></i>
                </div>
                <div class="add-content">
                  <h5>Address</h5>
                  <p> H.No 91, Gurukrupa Society, near Sunnagar, opposite G.E.Board, beside S.H-41, Sidhpur, Patan(N.G) - 384151 ,Gujarat</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-xs-12">
              <div class="address-box clearfix">
                <div class="add-icon">
                    <i class="bi bi-phone-fill"></i>
                </div>
                <div class="add-content">
                  <h5>Phone</h5>
                  <p>  +(91) 8460243910 <br />
                  +(91) XXXXX XXXXX  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
              <div class="address-box clearfix">
                <div class="add-icon">
                    <i class="bi bi-envelope-at"></i>
                </div>
                <div class="add-content">
                  <h5>Email</h5>
                  <p> <a class="text-white" href="mailto:bhavyasachdev78@gmail.com" style="text-decoration:none">bhavyasachdev78@gmail.com</a> </p>
                </div>
              </div>
            </div>
          </div>
      </div>
      
      
      <!-- Copyright Footer -->
      <footer class="bg-dark text-center text-white">
      
      <!-- Grid container -->
      <div class="container icon_class p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/BhavyaSachdev" target="_blank" role="button"
            ><i class="bi bi-github"></i
          ></a>
      
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/BhavyaSachdevX" target="_blank" role="button"
            ><i class="bi bi-twitter"></i
          ></a>
      
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/bhavya-sachdev-a9763316b" target="_blank" role="button"
            ><i class="bi bi-linkedin"></i
          ></a>
      
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/bhavya_sachdev?" target="_blank" role="button"
            ><i class="bi bi-instagram"></i
          ></a>
      
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
      
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      BhavyaSachdev © 2023 All Rights Reserved.
      </div>
      <!-- Copyright -->
      </footer>
      </footer>